<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fk.ztree.common.mapper.ZtDeptMapper" >
  <resultMap id="BaseResultMap" type="com.fk.ztree.common.pojo.ZtDept" >
    <id column="deptId" property="deptid" jdbcType="BIGINT" />
    <result column="deptName" property="deptname" jdbcType="VARCHAR" />
    <result column="deptParentId" property="deptparentid" jdbcType="VARCHAR" />
    <result column="creteTime" property="cretetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    deptId, deptName, deptParentId, creteTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fk.ztree.common.pojo.ZtDeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zt_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zt_dept
    where deptId = #{deptid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zt_dept
    where deptId = #{deptid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fk.ztree.common.pojo.ZtDeptExample" >
    delete from zt_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fk.ztree.common.pojo.ZtDept" >
    insert into zt_dept (deptId, deptName, deptParentId, 
      creteTime)
    values (#{deptid,jdbcType=BIGINT}, #{deptname,jdbcType=VARCHAR}, #{deptparentid,jdbcType=VARCHAR}, 
      #{cretetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fk.ztree.common.pojo.ZtDept" >
    insert into zt_dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        deptId,
      </if>
      <if test="deptname != null" >
        deptName,
      </if>
      <if test="deptparentid != null" >
        deptParentId,
      </if>
      <if test="cretetime != null" >
        creteTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        #{deptid,jdbcType=BIGINT},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptparentid != null" >
        #{deptparentid,jdbcType=VARCHAR},
      </if>
      <if test="cretetime != null" >
        #{cretetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fk.ztree.common.pojo.ZtDeptExample" resultType="java.lang.Integer" >
    select count(*) from zt_dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zt_dept
    <set >
      <if test="record.deptid != null" >
        deptId = #{record.deptid,jdbcType=BIGINT},
      </if>
      <if test="record.deptname != null" >
        deptName = #{record.deptname,jdbcType=VARCHAR},
      </if>
      <if test="record.deptparentid != null" >
        deptParentId = #{record.deptparentid,jdbcType=VARCHAR},
      </if>
      <if test="record.cretetime != null" >
        creteTime = #{record.cretetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zt_dept
    set deptId = #{record.deptid,jdbcType=BIGINT},
      deptName = #{record.deptname,jdbcType=VARCHAR},
      deptParentId = #{record.deptparentid,jdbcType=VARCHAR},
      creteTime = #{record.cretetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fk.ztree.common.pojo.ZtDept" >
    update zt_dept
    <set >
      <if test="deptname != null" >
        deptName = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="deptparentid != null" >
        deptParentId = #{deptparentid,jdbcType=VARCHAR},
      </if>
      <if test="cretetime != null" >
        creteTime = #{cretetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where deptId = #{deptid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fk.ztree.common.pojo.ZtDept" >
    update zt_dept
    set deptName = #{deptname,jdbcType=VARCHAR},
      deptParentId = #{deptparentid,jdbcType=VARCHAR},
      creteTime = #{cretetime,jdbcType=TIMESTAMP}
    where deptId = #{deptid,jdbcType=BIGINT}
  </update>
  <select id="selectDepts" resultMap="BaseResultMap">
       select * from zt_dept;
  </select>
</mapper>